<div class=" container container-login">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Sign Up</h4>
            <input ng-model="username" type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
            </br>
            <input ng-model="password" type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <a ng-click="createUser()" class="btn btn-primary btn-md">Sign Up <i class="fa fa-sign-in"></i></a>
            </span>
            </div>
              </br>
              <p>Have an account? <a ui-sref="login">Login</a>.</p>
              <p>Or go <a ui-sref="landing">home</a>.</p>
            </div>

        </div>
    </div>
</div>
