<show-nav></show-nav>

<div class="container-fluid decide-header">
  <div class="row decision-name"><h1>{{decision.title}}</h1></div>
  <div class="row">
    <div class="col-md-10 col-centered">
      <div class="row text-center">
        <div class="col-md-3 arrow-box">
        <a ui-sref="decide.create"><span class="ionicons ion-chevron-left back-arrow"></span><span class="arrow-text"><p>BACK</p></span></a>
        </div>
        <div class=" col-md-6 decide-header-text">
          <h2>SET PRIORITIES</h2>
          <p>[ 1 <span id="current-step">2</span> 3 ]</p>
        </div>
        <div class="col-md-3 arrow-box">
          <a ng-click="goRate()"><span class="arrow-text"><p>NEXT</p></span><span class="ionicons ion-chevron-right next-arrow"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid decide-form">
  <div class="row instruct">
    <div class="container-fluid text-center">
      <h2>Prioritize the most influential factors affecting the decision.</h2>
    </div>
  </div>
</div>


<div class="container-fluid factor-contain">
  <div class=" container" ng-repeat="(i, factor) in decision.factors track by $index">
  <div class="row">
    <div class=" factor-item col-lg-10 col-centered">
      <input id="factorName" type="text" placeholder="Factor name. e.g., 'price'" ng-model="decision.factors[i].facName">
      <span class="importance-level"><h2>Importance: {{decision.factors[i].weight}}%</h2></span>
      <rzslider class="slider-padding" rz-slider-model="decision.factors[i].weight"
              rz-slider-options="slider.options"></rzslider>
    </div>
  </div>
</div>
</div>

<div class=" add-remove-items container">
    <div class="row text-center">
      <div class="col-md-2 col-centered">

        <a ng-click="addFactor()"class="ionicons ion-plus-circled"></a>
      <a ng-click="removeFactor()" class="ionicons ion-minus-circled"></a>

    </div>
</div>
</div>


  <div class="container-fluid decide-footer">
    <div class="row">
      <span class="ionicons ion-ios-pulse"></span><span><p>optionLab </p></span><span class="ionicons ion-ios-pulse"></span>
    </div>
  </div>


<!--ng-click="goRate()"-->
<!--ui-sref="decide.rateOptions"-->
