<show-nav></show-nav>
<h1>{{decision.title}}</h1>

<h3>Prioritize the factors that will inform your decision by rating their importance.</h3>

<div ng-repeat="(i, factor) in decision.factors track by $index">
  <label for="factorName">Factor {{$index+1}}:</label>
  <input type="text" placeholder="factor name" ng-model="decision.factors[i].facName">
  <h5>Importance</h5>
  <rzslider rz-slider-model="decision.factors[i].weight"
          rz-slider-options="slider.options" id="factorName"></rzslider>
</div>

  <button type="button" class="btn btn-default btn-lg"  ui-sref="decide.create">Back</button>

  <button type="button" class="btn btn-default btn-lg"  ng-click="goRate()">Next</button>

<!--ng-click="goRate()"-->
<!--ui-sref="decide.rateOptions"-->
