<show-nav></show-nav>



  <div class="container-fluid decide-header">
    <div class="row">
      <div class="col-md-10 col-centered">
        <div class="row text-center">
          <div class="col-md-3">

          </div>
          <div class=" col-md-6 decide-header-text">
            <h2>CREATE DECISION</h2>
            <p>[ <span id="current-step">1</span> 2 3 ]</p>
          </div>
          <div class="col-md-3">
            <a ui-sref="decide.factors"><span class="arrow-text"><p>NEXT</p></span><span class="ionicons ion-chevron-right next-arrow"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid decide-form">
    <div class="row instruct">
      <div class="container-fluid text-center">
        <h2>Declare your decision. List your options.</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-10 col-centered text-center">
        <form role="form">
          <div class="form-group">
            <input type="text" class="text-box" ng-model="decision.title" id="ttl" placeholder="Decision name. e.g., 'What to eat tonight?'">
          </div>

          <div class="form-group" ng-repeat="(i, choice) in decision.choices track by $index">
            <input type="text" placeholder="Enter option name" ng-model="decision.choices[i].choiceName" id="choiceName">
          </div>
        </form>
    </div>
</div>
</div>

<div class=" add-remove-items container">
    <div class="row text-center">
      <div class="col-md-2 col-centered">

        <a ng-click="addChoice()"class="ionicons ion-plus-circled"></a>
      <a ng-click="removeChoice()" class="ionicons ion-minus-circled"></a>

    </div>
</div>
</div>


  <div class="container-fluid decide-footer">
    <div class="row">
      <span class="ionicons ion-ios-pulse"></span><span><p>optionLab </p></span><span class="ionicons ion-ios-pulse"></span>
    </div>
  </div>
