<show-nav></show-nav>

<div class="container-fluid decide-header">
  <div class="row decision-name"><h1>{{decision.title}}</h1></div>
  <div class="row">
    <div class="col-md-10 col-centered">
      <div class="row text-center">
        <div class="col-md-3">
          <a ui-sref="decide.factors"><span class="ionicons ion-chevron-left back-arrow"></span><span class="arrow-text"><p>BACK</p></span></a>
        </div>
        <div class="col-md-6 decide-header-text">
          <h2>GRADE OPTIONS</h2>
          <p>[ 1 2 <span id="current-step">3</span> ]</p>
        </div>
        <div class="col-md-3">
          <a ng-show="currentOption == decision.choices.length-1" ng-click="calculateChoiceGrade()"><span class="arrow-text"><p>RESULTS</p></span><span class="ionicons ion-chevron-right next-arrow"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid decide-form">
  <div class="row instruct">
    <div class="container-fluid text-center">
      <h2>Grade each option against each influencing factor.</h2>
    </div>
  </div>

<div class="container-fluid">

  <div class="row " ng-hide="currentOption !== $index" ng-repeat="(i, choice) in decision.choices track by $index">
    <div class="col-md-10 col-centered">
      <div class="row option-nav">
        <h4 class="option-name">{{decision.choices[i].choiceName}}</h4>
        <a ng-click="previousOption()" ng-hide="currentOption == 0"><span class="ionicons ion-chevron-left option-arrow"></span></a>
        <span>{{$index+1}} of {{decision.choices.length}} options</span>
        <a ng-click="nextOption()"><span class="ionicons ion-chevron-right option-arrow"></span></a>
      </div>
      <div class="row factor-grade-item" ng-repeat="(j, factor) in decision.factors track by $index">
        <div class="col-md-6">
          <h5 class="fac-grade-name">{{decision.factors[j].facName}}</h5>
        </div>
        <div class="col-md-6">
          <span class="fac-grade"><h2>Grade: {{$parent.decision.choices[i].factorGrades[j].grade}}%</h2></span>
        </div>
        <rzslider class="slider-padding" rz-slider-model="$parent.decision.choices[i].factorGrades[j].grade"
            rz-slider-options="slider.options"></rzslider>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid decide-footer">
  <div class="row">
    <span class="ionicons ion-ios-pulse"></span><span><p>optionLab </p></span><span class="ionicons ion-ios-pulse"></span>
  </div>
</div>


<div>
  <button ng-show="currentOption == decision.choices.length-1"type="button" class="btn btn-default btn-lg"  ng-click="calculateChoiceGrade(decision)">Decide!</button>
</div>

<button type="button" class="btn btn-default btn-lg"  ng-hide="currentOption == 0" ng-click="previousOption()">Back</button>

<button type="button" class="btn btn-default btn-lg" ng-hide="currentOption == decision.choices.length-1" ng-click="nextOption()">Next</button>
